@use 'variables' as *;

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-primary;
  border-radius: 32px;
  background-color: #faece8;
  border: 1px solid #eeb6a4;
  color: $primary;
  padding: 4px 12px;
  user-select: none;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  transition: background-color 0.2s ease;

  p,
  span {
    margin-bottom: 0 !important;
  }

  svg {
    margin-right: 8px;
  }
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $text-primary;
  border-radius: 32px;

  transition: background-color 0.2s ease;

  svg {
    max-width: 18px;
  }

  &.icon--small {
    width: 41px;
    height: 41px;
  }
}

.icon.less:hover {
  background-color: #faf3e9;
  color: $primary;
}

.grouped-icons {
  display: flex;
  align-items: center;
  background: $body-bg;
  border-radius: 32px;
  border: 1px solid #eeb6a4;
  overflow: hidden;

  > a {
    color: $text-primary;
    border-right: 1px solid #eeb6a4;
    padding: 4px 8px;

    &:last-child {
      border: none;
    }

    &.active {
      background: #faece8;

      &:hover {
        background: #faf3e9;
      }
    }

    &:hover {
      background: #f8f8f8;
    }
  }
}

.collapser {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1px 1px 1px 16px;
  border-radius: 32px;
  margin-bottom: 12px;

  transition: background-color 0.2s ease;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  &:hover {
    background-color: #faf3e9;

    .icon {
      color: $primary;
    }
  }
}

.collapser__items {
  margin-bottom: 12px;
}

.select {
  background: #faece8;
  border-radius: 32px;
  border: 1px solid #eeb6a4;
  padding: 10px 16px;
}

.button {
  background: #faece8;
  display: block;
  padding: 10px 24px;
  border-radius: 32px;
  border: 1px solid #eeb6a4;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  text-decoration: none;

  svg {
    margin-left: 12px;
    transition: transform 0.1s ease-in;
  }

  &:hover {
    svg {
      transform: rotate(30deg);
    }
  }
}
