$primary: #d5491d !default;
$primary-alt: #b43425 !default;
$secondary: #077875 !default;
$secondary-alt: #1d656d !default;

$body-color: #222222 !default;

$text-primary: #000000 !default;

$text-secondary: #ffffff !default;
$text-secondary-alt: #e0e0e0 !default;

$border-color: #d9dbdd !default;

$body-bg: #ffffff !default;
$overlay-bg: rgba(#000000, 0.05) !default;
$overlay-bg-1: rgba(#000000, 0.01) !default;

$link-color: $primary !default;
$link-hover-color: $primary-alt !default;

$box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
