@use 'variables' as vars;

@use 'bootstrap/scss/bootstrap' as *;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant: small-caps;
  font-weight: 900;
  font-family: var(--font-gotham-black), sans-serif;
}

body {
  color: vars.$text-primary;
}

a {
  color: vars.$link-color;

  &:hover {
    color: vars.$link-hover-color;
  }
}

img {
  max-width: 100%;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 3rem;
}
