.markdown-body {
  blockquote {
    padding: 0.75rem 2rem;
    margin: 1rem 0;
    font-style: italic;
    border-left: 2px solid #eeb6a4;

    p:last-child {
      margin-bottom: 0;
    }
  }
  table {
    th, td {
      padding: 5px 15px;
    }
  }
  h1 {
    margin: 48px 0 24px;
  }
  h2 {
    margin: 40px 0 20px;
  }
  h3 {
    margin: 32px 0 16px;
  }
  h4 {
    margin: 28px 0 12px;
  }
  h5 {
    margin: 24px 0 10px;
  }
  h6 {
    margin: 20px 0 8px;
  }
  pre {
    background-color: #faece8;
    border: 1px solid #eeb6a4;
    padding: 1rem 1.25rem;
  }
  code {
    background-color: #faece8;
    padding: 0.15rem 0.4rem;
    border-radius: 6px;
    color: #000000;
  }
  pre code {
    padding: 0;
    background: none;
    color: inherit;
  }
  :global(.hljs) {
    :global(.hljs-keyword) {
      font-weight: bold;
    }
  }
}
