# eg.: https://cbsoft2023.ufms.br
NEXT_PUBLIC_SITE_URL=SITE_URL    # https://cbsoft.sbc.org.br/2026
NEXT_PUBLIC_BASE_PATH=/YEAR      # /2026
NEXT_PUBLIC_ASSET_PREFIX=/YEAR   # /2026
NEXT_PUBLIC_URL=/YEAR/           # /2026/