@use 'variables' as *;
@use 'elements' as *;

.header {
  margin-bottom: 36px;

  h1 {
    width: min(100%, 800px);
  }
}

.schedule-time {
  display: flex;
  align-items: center;
  gap: 12px;
}

.chips__grouped {
  display: flex;
  align-items: center;
  justify-content: start;

  > * {
    margin-right: 8px;
  }
}

.table {
  border-spacing: 0 40px;
  border-collapse: separate;
}

.main-content {
  display: flex;
  flex-direction: column;

  aside {
    min-width: auto;
      padding: 0;
  }
}

.content__images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;

  flex: 1;
}