@use 'variables' as *;

.local-acomodacoes {
  .evento-tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    font-size: 1em;
    text-align: left;
    background-color: $overlay-bg-1;
    border-radius: 8px;
    border: 1px solid $border-color;
    box-shadow: $box-shadow;

    th,
    td {
      padding: 12px 15px;
      text-align: center;

      p,
      a {
        margin: 0;
        text-align: center;
      }
    }

    td:last-child {
      text-align: left;
    }

    th {
      background-color: $primary;
      color: $text-secondary;
      font-weight: bold;
    }

    tbody tr:nth-of-type(even) {
      background-color: $body-bg;
    }

    tbody tr:hover {
      background-color: $overlay-bg;
    }
  }
}
