@use 'variables' as *;

.about {
  .container > picture > img {
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.05;
    z-index: -1;
  }

  ul li {
    color: $body-color;
    font-size: 1.0625rem;
    line-height: 26px;
    text-align: left;
  }
}
