@use 'variables' as *;
@use 'elements' as *;

.add-calender {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 4px;
  justify-content: space-between;
  p {
    margin: 0;
  }

  .items__wrapper {
    position: relative;
  }

  .collapser {
    margin: 0;
  }

  .collapser__items {
    z-index: 1000;
    width: 100%;
    background: $body-bg;
    position: absolute;
    top: 10px;
    padding: 10px 16px;
    border: 1px solid $border-color;
    border-radius: 16px;
    box-shadow: $box-shadow;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 4px;

    > a {
      padding: 4px 12px;
      text-decoration: none;
      color: $text-primary;

      &:hover {
        background: $overlay-bg;
        width: 100%;
      }
    }
  }
}

.add-calender.simplified {
  .collapser {
    padding: 0;

    .icon {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }

    p {
      margin-right: 12px;
    }

    &:hover {
      background-color: unset;
      border: 1px solid transparent;

      p {
        color: $text-primary-alt;
      }

      .icon {
        background-color: #faece8;
        border: 1px solid #eeb6a4;
        color: $primary;
      }
    }
  }
}
