@use 'variables' as *;
@use 'elements' as *;

.map {
  width: 100%;
  height: 100%;
}

.floors {
  display: flex;
  gap: 8px;
}

.floorMap {
  height: 100%;
  padding: 0 100px;

  svg {
    margin: 0 auto;
    width: auto;
    height: 100%;
    display: block;
  }
}