@use 'variables' as *;

.button {
  text-align: center;
  background-color: $primary; /* substitua por var(--primary) se desejar usar variáveis CSS */
  color: $text-secondary; /* substitua por var(--primary-alt) se desejar usar variáveis CSS */
  font-weight: bold;
  padding: 2em 2.5em;
  font-size: 1.1em;
  text-transform: uppercase;
  transform: scale(1);
  text-decoration: none;
}

.button:hover {
  color: $text-secondary;
  background-color: $primary-alt;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /* Ajustando a largura do container para caber o conteúdo */
  margin: auto; /* Centralizando o container na página */
}
